<h1> New Blog Post </h1>
<%= link_to blog_post.name, blog_post_path(blog_post) %>

<%= form_with model: blog_post do |form| %>
<div> 
  <%= form.label :title %>
  <%= form.text_field :title%>

  <%= form.label :body %>
  <%= form.text_area :body %>
</div>
  <%= form.submit %>


<% end %>